
<div class="frame-6 absolute top-[86px] left-[229px] w-[1188px] h-[916px] bg-[#0f0e0e] rounded-2xl overflow-hidden">
  
  
  <div class="frame-7 absolute top-[25px] left-[37px] w-[1117px] h-[859px] bg-[#232020] rounded-2xl"></div>
  

  <app-code-assess-hero
    (fileUpload)="onFileUpload($event)"
  ></app-code-assess-hero>
  
  
  <app-code-assess-analysis-form
    (analysisTypeChange)="onAnalysisTypeChange($event)"
  ></app-code-assess-analysis-form>
  
 
  <app-code-assess-explorer
    [projectFileName]="uploadedFileName"
    [projectFileSize]="uploadedFileSize"
  ></app-code-assess-explorer>
  
</div>

