
<div class="frame-4 absolute top-[17px] left-[226px] w-[1200px] h-[57px] flex bg-[#0f0f0f] rounded-2xl overflow-hidden">
  

  <div class="text-wrapper-5 mt-[18px] w-[177px] h-6 ml-[51px] font-semibold text-xl text-white tracking-normal leading-normal whitespace-nowrap">
    Code Assessment
  </div>
  

  <button 
    (click)="onRunAnalysis()"
    class="frame-5 flex h-11 w-[220px] self-center relative ml-[742px] items-center justify-center gap-[10px] px-6 py-[10px] bg-[#783ff2] rounded-2xl hover:bg-[#6835d1] transition-colors cursor-pointer"
    type="button"
    aria-label="Run analysis"
  >
    <img 
      class="play-arrow relative w-6 h-6 aspect-square" 
      src="/assets/play_arrow.svg" 
      alt="" 
      aria-hidden="true"
    />

    <div class="text-wrapper-6 relative w-fit font-medium text-white text-base tracking-normal leading-normal whitespace-nowrap">
      Run analysis
    </div>
  </button>
  
 
  
</div>
